<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>a</string>
	<key>b</key>
	<integer>0</integer>
	<key>c</key>
	<false/>
	<key>d</key>
	<date>2017-02-17T08:35:54Z</date>
</dict>
</plist>
